<md-content class="md-padding" style="width: 650px; margin: auto;">
  <md-button aria-label="imitate" ng-disabled="true">
    {{ file }}
  </md-button>

  <md-menu>
    <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
      <md-icon aria-label="csv-files" class="material-icons" style="font-size: 24px;">subject</md-icon> pick file
    </md-button>

    <md-menu-content width="4">
      <md-menu-item ng-repeat="filename in files">
        <md-button ng-click="load(filename)"> {{filename}} </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <md-button aria-label="columns-button" ng-click="slectColumns = !slectColumns">
    <md-icon aria-label="columns" class="material-icons" style="font-size: 24px;">view_column</md-icon> Select Columns
  </md-button>

  <md-button aria-label="imitate" ng-click="imitate()">
    <md-icon aria-label="csv-imitate" class="material-icons" style="font-size: 24px;">content_copy</md-icon> Imitate
  </md-button>
</md-content>

<md-list ng-cloak ng-if="slectColumns">
  <md-subheader class="md-no-sticky">Columns</md-subheader>
  <md-list-item ng-repeat="column in columns">
    <p> {{ column.name }} </p>
    <md-checkbox aria-label="slect-column-{{ $index }}" class="md-secondary" ng-model="column.active" ng-click="updatePlotColumns()"></md-checkbox>
  </md-list-item>
</md-list>

<div layout="row" style="width: 400px; margin: auto;">

  <md-menu flex>
    <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
      <md-icon aria-label="csv-files" class="material-icons" style="font-size: 24px;">filter_1</md-icon> Column - {{ plotColumns.x }}
    </md-button>

    <md-menu-content width="4">
      <md-menu-item ng-repeat="column in getColumnsForPlot()">
        <md-button ng-click="plotColumns.x = column.name"> {{ column.name }} </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <md-menu flex>
    <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
      <md-icon aria-label="csv-files" class="material-icons" style="font-size: 24px;">filter_2</md-icon> Column - {{ plotColumns.y }}
    </md-button>

    <md-menu-content width="4">
      <md-menu-item ng-repeat="column in getColumnsForPlot()">
        <md-button ng-click="plotColumns.y = column.name"> {{ column.name }} </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

</div>

<!--<div>{{ plotColumns | json }}</div>-->

<div layout="row">

  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span ng-if="realDataLength" class="md-headline">Real Data ({{ realDataLength }} rows)</span>
        <span ng-if="!realDataLength" class="md-headline">Real Data</span>

      </md-card-title-text>
    </md-card-title>
    <img ng-src="static/images/csv_real_data.png?d={{ now }}" class="md-card-image" alt="Washed Out">
  </md-card>

  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span ng-if="simulatedDataLength" class="md-headline">Simulated Data ({{ simulatedDataLength }} rows)</span>
        <span ng-if="!simulatedDataLength" class="md-headline">Simulated Data</span>
      </md-card-title-text>
    </md-card-title>
    <img ng-src="static/images/csv_simulated_data.png?d={{ now }}" class="md-card-image" alt="Washed Out">
  </md-card>
</div>

<md-card flex>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Compare</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row">
    <md-button class="md-default md-raised" aria-label="update" ng-click="fastImitate()">
      <md-icon aria-label="csv-files" class="material-icons" style="font-size: 24px;">update</md-icon>Refresh
    </md-button>
  </md-card-actions>
  <md-card-content layout-align="space-between">
    <compare columns="collection"></compare>
  </md-card-content layout-align="space-between">
</md-card>
